<section class="carousel-banner" id="#section-banner">
    <div class="carousel-banner-container">
        <ng-container *ngFor="let banner of dataInfo.banners">
            <div>
                <figure class="carousel-banner-figure">
                    <img class="carousel-banner-img" src="{{banner.location}}">
                </figure>
                <h1 class="carousel-banner-text" [innerHTML]="banner.text"></h1>
            </div>
        </ng-container>
    </div>
</section>
<section class="section-products" id="#section-products">
    <div class="products-container-header">
        <div class="products-container-head">
            <label for="filterPost">Búsqueda y filtrado de productos:</label>
            <input type="text" class="products-container-search" name="filterPost" placeholder="Buscar..." [(ngModel)]="filterPost">
            <select name="filterCat" id="categories" multiple class="selectpicker" [(ngModel)]="filterCat">
                <ng-container *ngFor="let cat of categories">
                    <option value="{{cat}}">{{cat}}</option>
                </ng-container>
            </select>
        </div>
        <div class="products-container">
            <ng-container *ngFor="let product of dataInfo.products | filter:filterPost | category:filterCat">
                <div class="products-item">
                    <figure class="products-figure">
                        <img class="products-img" src="{{product.location}}">
                    </figure>
                    <div class="products-item-sub">
                        <p class="products-text" [innerHTML]="product.description"></p>
                        <button class="products-details-button {{product.uuid}}" (click)="details.detailsCall(product.uuid)">Detalles</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>
<section class="section-claims" id="#section-claims">
    <div class="claims-container">
        <ng-container *ngFor="let claim of dataInfo.claims">
            <div class="claims-item">
                <div class="claims-item-sub">
                    <h2 class="claims-text" [innerHTML]="claim.title"></h2>
                    <p>{{claim.text}}</p>
                </div>
            </div>
        </ng-container>
    </div>
</section>

<app-my-component-details #details></app-my-component-details>
